<div id="<%= dom_id padel_center %>">
  <p>
    <strong>Name:</strong>
    <%= padel_center.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= padel_center.address %>
  </p>

  <p>
    <strong>Number of court:</strong>
    <%= padel_center.number_of_court %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= padel_center.phone_number %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= padel_center.rating %>
  </p>

  <p>
    <strong>User:</strong>
    <%= padel_center.user_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= padel_center.photo %>
  </p>

</div>
