<div id="<%= dom_id padel_court %>">
  <p>
    <strong>Number:</strong>
    <%= padel_court.number %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= padel_court.content %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= padel_court.photo %>
  </p>

  <p>
    <strong>Padel center:</strong>
    <%= padel_court.padel_center_id %>
  </p>

</div>
