<div id="<%= dom_id center_review %>">
  <p>
    <strong>Padel center:</strong>
    <%= center_review.padel_center_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= center_review.user_id %>
  </p>

  <p>
    <strong>Star:</strong>
    <%= center_review.star %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= center_review.description %>
  </p>

</div>
